# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download Cloudify CLI
        id: download_cli
        run: curl -O https://repository.cloudifysource.org/cloudify/latest/5.0.5/ga-release/cloudify-cli_5.0.5.1~ga_amd64.deb
        
      - name: Install Cloudify CLI
        id: install_cli
        run: sudo dpkg -i cloudify-cli_5.0.5.1~ga_amd64.deb
      
      - name: Add_delay
        id: delay
        run: sudo sleep 60
         
      - name: Download updated repo
        id: new_repo 
        run: |
          sudo curl -O https://raw.githubusercontent.com/moshemizrachi/k8s/master/K8s_BP.zip
          sudo unzip K8s_BP.zip
     
      - name: Setup Cloudify
        id: set_up_cloudify
        run: |
          sudo cfy profiles use 54.176.36.209 -u admin -p admin -t default_tenant
          sudo cfy blueprints upload https://raw.githubusercontent.com/moshemizrachi/k8s/master/K8s_BP.zip -n blueprint_v2.yaml -b "k8_v2"
          sudo cfy deployments update -b k8_v2 K8s_deployment
          
          

        
